<script src="__PUBLIC__/plugins/My97DatePicker/WdatePicker.js"></script>
        <div class="pageheader notab">
            <h1 class="pagetitle">抽抽乐</h1>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
			<div class="tableoptions">        
				<form method="post">
					用户ID:
					<input type="text" name="id" value="{$_GET['id']}" class="smallinput" style="width:100px;" />
					状态：
					<select name="status" default="{$_GET.status}" style=" min-width:100px; width:100px;">
						<option value="">全部</option>
						<option value="1">未开奖</option>
						<option value="2">未中奖</option>
						<option value="3">已中奖</option>
						<option value="0">未支付</option>
					</select>
					日期：
					<input type="text" name="date" value="{$_GET['date']}" class="smallinput" style="width:100px;" onclick="WdatePicker()" />
					<input type="submit" value="查找" />
				</form>
			</div><!--tableoptions-->
			
			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
				<thead>
					<tr>
						<th class="head1">编号</th>
						<th class="head1">用户ＩＤ</th>
						<th class="head0">支付金额</th>
						<th class="head0">状态</th>
						<th class="head0">时间</th>
						<th class="head0">操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>
						{$vo.user_id}
						</td>
						<td>{$vo.money}</td>
						<td>
							<if condition="$vo['status'] eq 0">未支付
							<elseif condition="$vo['status'] eq 1">待开奖
							<elseif condition="$vo['status'] eq 2" />未中
							<elseif condition="$vo['status'] eq 3" />
							已中,奖金：{$vo.reward}<br/>
							{$vo['reward_time']|date="Y-m-d H:i:s",###}
							</if>
						</td>
						<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
						<td class="center">
							<if condition="$vo['status'] eq 1">
							<a href="{:U('reward', 'id='.$vo['id'])}" onclick="return confirm('您确定要讲此用户设置为中将么？')">中奖</a>
							<else/>
							-
							</if>
						</td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        