
        <div class="pageheader notab">
            <h1 class="pagetitle">欢迎界面</h1>
            <span class="pagedesc"></span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
			<h3>欢迎使用！</h3>
            <!--<h4>奥芬巨网络科技出版  盗版必究</h4>
            <h4>客服QQ：810681654</h4>-->
			<!--div>
				<p style=" text-indent:2em; font-size:16px;">本程序实现了模拟银行收益自动核算和微信支付企业转帐接口的对接，用于测试研究相关技术的可行性和实现方案。不得用于其他用途，否则一切后果自负！
				</p>
				<p style=" text-indent:2em; font-size:16px;">因为使用本程序导致的一切后果和相关法律责任由使用人负责。程序版权归开发者所有，使用本程序则视为接受以上协议。
				</p>
			</div-->

		
			
			<!--table cellpadding="0" cellspacing="0" border="0" class="stdtable">
				<colgroup>
					<col class="con0" />
					<col class="con1" />
					<col class="con0" />
					<col class="con1" />
					<col class="con0" />
				</colgroup>
				<tbody>
					<tr>
						<td>今日订单数</td>
						<td>{$info.orders_total}</td>
					</tr>
					<tr>
						<td>今日销售额</td>
						<td>{$info.total_today}</td>
					</tr>
					<tr>
						<td>今日余额支付总额</td>
						<td>{$info.money_pay}</td>
					</tr>
					<tr>
						<td>今日积分支付总额</td>
						<td>{$info.points_pay}</td>
					</tr>
					<tr>
						<td>今日微信支付总额</td>
						<td>{$info.wxpay_pay}</td>
					</tr>
					<tr>
						<td>待结算佣金</td>
						<td>{$info.expense1}</td>
					</tr>
					<tr>
						<td>已结算佣金</td>
						<td>{$info.expense4}</td>
					</tr>
					<tr>
						<td>会员积分总额</td>
						<td>{$info.points_total}</td>
					</tr>
					<tr>
						<td>会员余额总额</td>
						<td>{$info.money_total}</td>
					</tr>
				</tbody>
			</table-->
        
        
        </div><!--contentwrapper-->
        