<!doctype html><html lang="zh-CN">
<head>   
 <include file="include/head" title="系统登陆" />
 <link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
 <style>	
 .item input{ box-sizing:border-box;}     .btns input{     	background-color:#f55765;      }	</style></head><body style="background:#f2f2f2;">
 <form method="post" name="form" id="form">
 	<div class="tophead">		登陆系统	</div>
 	<div class="main">	
 		<div class="item">	
 				<span class="glyphicon glyphicon-user"></span>		
 					<input type="text" name="login_name" placeholder="请输入手机号" />		</div>		
 					<div class="item">	
 							<span class="glyphicon glyphicon-lock"></span>		
 							<input type="password" name="login_pass" placeholder="请输入登陆密码" />		
 		</div>
 		</div>	
 		<if condition="IS_WECHAT">	<div class="item2" style=" padding:10px;">		<input type="checkbox" name="bind" checked value="1" style=" width:14px; height:14px; display:inline;" />		绑定当前微信	</div>	</if>	
 		<div class="btns">	
 			<input type="button" onclick="ajaxFormSubmit()" value="登 陆" />
 				</div>
<div class="more">		
 		1.<a href="{:U('reg')}">没有账号?点此注册</a><br/>		
 		2.<a href="{:U('reset_pass')}">忘记密码？点此重置</a>
 		 	</div>
 		 </form>
 	<include file="include/commonjs" />
</body></html>