<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><title>
闲来猜猜乐
</title><link type="text/css" rel="stylesheet" href="/Public/css/default2017.css?20170117"><link type="text/css" rel="Stylesheet" href="/Public/css/weipay.css">

</head>
<body>
<include file="include/top" />
<div class="container3">
<div class="main_body">
<div class="b-title"><span>您猜的是：{$name}</span></div>
<div class="b-subtitle"><span>闲来猜猜乐，中2.6倍赔现金红包哦！</span></div>
<div class="betting">
<div class="b-desc">一、点击下方支付按钮进行支付</div>
<div class="b-list">
<li><img id="pay2" src="/res/images2017/pay02.png" alt="支付5元" onclick="goPayment(5)" style="cursor:pointer;"></li>
<li><img id="pay3" src="/res/images2017/pay03.png" alt="支付10元" onclick="goPayment(10)" style="cursor:pointer;"></li>
<li><img id="pay4" src="/res/images2017/pay04.png" alt="支付20元" onclick="goPayment(20)" style="cursor:pointer;"></li>
<li><img id="pay5" src="/res/images2017/pay05.png" alt="支付50元" onclick="goPayment(50) style="cursor:pointer;"></li>
<li><img id="pay6" src="/res/images2017/pay06.png" alt="支付100元" onclick="goPayment(100)" style="cursor:pointer;"></li>
<li><input id="pay1" name="pay1" type="number" min="5" max="200" value="150" step="1" class="betinput">元<br><img id="pay8" src="/res/images2017/pay08.png" alt="自由猜" onclick="goPayment(5);" style="cursor:pointer;"></li>
</div>
<div class="b-desc">二、支付完成后，60秒内开奖，中奖后，系统会在10分钟内发送现金红包给您！</div>
<div class="b-tips">点击去支付，开启猜一猜之路</div>
</div>
</div>
</div>
<input value="0" class="ispay" type="hidden"/>
<include file="include/footer" />
<script type="text/javascript" src="/Public/js/jquery-1.7.2-min.js"></script>
<include file="include/commonjs" />
<script type="text/javascript">
	function goPayment(money){
     var ispay = $(".ispay").val();
     if(ispay == 0){
         $(".ispay").val(1);
	     $.post("",{},function(d){
	      $(".ispay").val(0);
	      if(d.status==1){
	      	 call_pay(d.pay_param,'','');
	      	}else{
	      	 alert(d.info);	
	      	}
	     
	     });
     }
	}
</script>
</body>
</html>