
<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><title>
佣金方案 - AJ
</title><link type="text/css" rel="stylesheet" href="/Public/css/default2017.css?20170102">

</head>
<body>

<include file="include/top" />
<div class="container1">
<div class="main_body">
<div class="campaign" style="padding-bottom:38px;padding-top:4px;">
<div class="introduce" style="padding-top:50px;"><img src="http://m.xlcyc1.com/res/images2017/propagateCommission.png" style="margin-top:10px;" alt=""></div>
</div>
</div>
</div>
<include file="include/footer" />

</body></html>
