
<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><title>
在线客服竭诚为您服务
</title><link type="text/css" rel="stylesheet" href="/Public/css/default2017.css?20170103">

</head>
<body>

<!-- <include file="include/top" /> -->
<div class="container3">
<div class="commision">
<div class="c-title2"></div>
<div class="c-context">
<!-- <p>由于网络延迟,或者微信支付问题,如出现付款未收到红包的,系统会在10分钟内自动退款至您的零钱,请注意查收</p> -->
<p align="center"><img src="{$url}" _src="{$url}" style="max-width: 250px"></p></div>
</div>
</div>

<include file="include/bottom" />

</body></html>
