<!doctype html>
<html lang="zh-CN">
<head>
    <include file="include/head" title="微信安全支付" />
</head>

<body>
	<script type="text/javascript">
	//调用微信JS api 支付
	function jsApiCall()
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			{$jsApiParameters},
			function(res){
				WeixinJSBridge.log(res.err_msg);
				if(res.err_msg == 'get_brand_wcpay_request:cancle'){
					alert('你取消了支付');
				}else if(res.err_msg == 'get_brand_wcpay_request:ok'){
					alert('支付成功');
				}else{
					alert(res.err_msg)
				}
				layer.load();
				location.href="{$callback|urldecode}";
			}
		);
	}

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
	setTimeout(callpay,100)
	</script>
</body>
</html>