{__NOLAYOUT__}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>选择模板</title>
<link rel="stylesheet" href="/Public/admin/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="/Public/plugins/bootstrap/css/bootstrap.font.css" type="text/css" />
<script type="text/javascript" src="/Public/admin/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/Public/admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/Public/admin/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/Public/admin/js/custom/general.js"></script>

<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>
<body>
		<style>
		.items{ display:table;}
		.items .item{ float:left; width:25%; padding:10px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; box-sizing:border-box; position:relative;}
		.items .item img{ width:100%;}
		.items .item span.checked{ position:absolute; bottom:20px; right:20px; width:40px; height:40px; background:url(/Public/images/check.gif); background-size:100% 100%;}
		</style>
        <div id="contentwrapper" class="contentwrapper lineheight21">
			<div class="items">
				<volist name="items" id="dir">
				<div class="item" tpl = "{$dir}">
					<img src="{:C('list_tpl_path')}/{$dir}/preview.jpg" onclick="parent.setTpl('{$dir}')" />
				</div>
				</volist>
			</div>
        </div><!--contentwrapper-->
		<script>
		jQuery(document).ready(function(e){
			jQuery(".items div[tpl='"+parent.tpl+"']").append("<span class='checked'></span>");
		});
		</script>
</body>
</html>     