
        <div class="pageheader notab">
            <h1 class="pagetitle">分红记录</h1>
            <span class="pagedesc"></span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
			<div class="tableoptions">        
				<form method="post">
					用户ID:
					<input type="text" name="user_id" value="{$_GET['user_id']}" class="smallinput" style="width:100px;" />
					订单号:
					<input type="text" name="sn" value="{$_GET['sn']}" class="smallinput" style="width:100px;" />
					冻结：
					<select name="type" default="{$_GET['type']}" style=" min-width:100px; width:100px;">
						<option value="">全部</option>
						<option value="1">正常</option>
						<option value="2">冻结</option>
					</select>
					
					<input type="submit" value="查找" />
				</form>
			</div><!--tableoptions-->

			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
				<thead>
					<tr>
						<th class="head1">用户ＩＤ</th>
						<th class="head0">订单号</th>
						<th class="head0">分红次数</th>
						<th class="head0">金额</th>
						<th class="head0">冻结</th>
						<th class="head0">分红时间</th>
						<th class="head0">解冻时间</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.user_id}</td>
						<td>{$vo.sn}</td>
						<td>{$vo.bonus_times}</td>
						<td>{$vo.money}</td>
						<td><if condition="$vo['type'] eq 2">是<else/>否</if></td>
						<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
						<td>
						<if condition="$vo.unfreez_time gt 0">{$vo.unfreez_time|date="Y-m-d H:i:s",###}
						<else/>
						-
						</if>
						</td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        