
        <div class="pageheader notab">
            <h1 class="pagetitle">佣金记录</h1>
            <span class="pagedesc"></span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
			<div class="tableoptions">        
				<form method="post">
					用户ID:
					<input type="text" name="user_id" value="{$_GET['user_id']}" class="smallinput" style="width:100px;" />
					
					<!-- 类型：
					<select name="level" default="{$_GET['level']}" style=" min-width:100px; width:100px;">
						<option value="">全部</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select> -->
					
					<input type="submit" value="查找" />
				</form>
			</div><!--tableoptions-->

			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
				<thead>
					<tr>
						<th class="head1">用户ID</th>
						<th class="head1">支付ID</th>
						<th class="head0">佣金</th>
						<th class="head0">级别</th>
						<th class="head0">类型</th>
						<th class="head0">时间</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.user_id}</td>
						<td>{$vo.buyer_id}</td>
						<td>{$vo.moneys}</td>
						<td><?php $arr = array(1 => '1级',2=> '2级',3=> '3级');echo $arr[$vo['level']]?></td>
						<td>
							<?php $arr = array(1 => '充值',2=> '',3=> '');echo $arr[$vo['type']]?>
						</td>
						<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        