
        <div class="pageheader notab">
            <h1 class="pagetitle">系统转帐记录</h1>
            <span class="pagedesc"></span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
			<div class="tableoptions">        
				<form method="post">
					用户ID:
					<input type="text" name="user_id" value="{$_GET['user_id']}" class="smallinput" style="width:100px;" />
					
					结果：
					<select name="status" default="{$_GET['status']}" style=" min-width:100px; width:100px;">
						<option value="">全部</option>
						<option value="1">成功</option>
						<option value="0">失败</option>
					</select>
					
					<input type="submit" value="查找" />
				</form>
			</div><!--tableoptions-->

			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
				<thead>
					<tr>
						<th class="head1">用户ID</th>
						<th class="head0">ＯＰＥＮＩＤ</th>
						<th class="head0">金额</th>
						<th class="head0">商城订单号</th>
						<th class="head0">微信订单号</th>
						<th class="head0">状态</th>
						<th class="head0">信息</th>
						<th class="head0">时间</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.user_id}</td>
						<td>{$vo.openid}</td>
						<td>{$vo.money}</td>
						<td>{$vo.partner_trade_no}</td>
						<td>{$vo.payment_no}</td>
						<td><if condition="$vo['status'] eq 1">成功<else/>失败</if></td>
						<td>{$vo.err_code} {$vo.err_code_des}</td>
						<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
					</tr>
					</volist>
				</tbody>
			</table>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        