
        <div class="pageheader notab">
            <h1 class="pagetitle">提现记录</h1>
            <span class="pagedesc"></span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
			<div class="tableoptions">        
				<form method="post">
					用户ID:
					<input type="text" name="user_id" value="{$_GET['user_id']}" class="smallinput" style="width:100px;" />
					结果：
					<select name="status" default="{$_GET['status']}" style=" min-width:100px; width:100px;">
						<option value="">全部</option>
						<option value="0">未支付</option>
						<option value="1">已支付</option>
					</select>
					<input type="submit" value="查找" />
				</form>
			</div><!--tableoptions-->

			<div class="table-responsive">
				<!-- <table class="table table-bordered"> -->
				<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
					<thead>
					<tr>
						<th class="head1">ID</th>
						<th class="head0">金额</th>
						<th class="head0">结果</th>
						<th class="head0">操作</th>
						<th class="head0">申请时间</th>						
					</tr>
					</thead>
					<tbody>
					<volist name="list" id="vo">
						<tr>
							<td>{$vo.user_id}</td>
							<td>{$vo.money}</td>
							<td><?php echo $vo['status']==1?'已支付':'未支付'; ?></td>				
							<td>
								<if condition="$vo['status'] eq 0">
									<a href="{:U('Finance/cash?user_id='.$vo['id'])}">
										<button class="btn btn-info" >支付</button></a>
								</if>
							</td>
							<td>{$vo.create_time|date="m-d H:i:s",###}</td>
						</tr>
					</volist>
					</tbody>
				</table>
			</div>
			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">
			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}
			</div>
        
        </div><!--contentwrapper-->
        