<style type="text/css">
	a{
		cursor: pointer;
	}
</style>
<div class="pageheader notab">


            <h1 class="pagetitle">购买记录</h1>


            <span class="pagedesc"></span>

        </div><!--pageheader-->

        <div id="contentwrapper" class="contentwrapper lineheight21">

			<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">


				<thead>


					<tr>
						<th class="head1">ID</th>
						<th class="head0">会员id</th>
						<th class="head0">金额</th>
						<th class="head0">购买</th>
						<th class="head0">下单时间</th>
						<th class="head0">结束时间</th>
						<th class="head0">状态</th>
						<th class="head0">开奖水果</th>
						<th class="head0">中奖金额</th>
						<th class="head0">开奖结果</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo.uid}</td>
						<td>{$vo.money}</td>
						<td><?php if($vo['buyid']<=6){echo $vo['buyid'];}elseif($vo['buyid']==7){ echo '大';}else{echo '小';}?></td>
						<td>{$vo.starttime|date="Y-m-d H:i:s",###}</td>
						<td>{$vo.endtime|date="Y-m-d H:i:s",###}</td>
						<td><?php if($vo['status']==1){ echo '<span style="color:#ea2000;">进行中</span>';}if($vo['status']==2){ echo '已结束';}?></td>
                        <td>{$vo.isid}</td>
                        <td>{$vo.yingmoney}</td>
                        <td>
                        	<?php if($vo['isid']!=0){
                             if($vo['isid']==$vo['buyid']){
                               	echo '<span style="color:#ed5859">中奖</span>';
                        	 }else if($vo['isid']>3 && $vo['buyid']==7){
                        	 	echo '<span style="color:#ed5859">中奖</span>';
                        	 	
                        	 }else if($vo['isid']<=3 && $vo['buyid']==8){
                        	 	echo '<span style="color:#ed5859">中奖</span>';
                        	 	
                        	 }else{
                               echo '未中奖';
                        	 }
                        	}else{
                        	   echo '未开奖';
                        	} ?>
                        </td>

					</tr>


					</volist>


				</tbody>


			</table>


			<div class="dataTables_paginate paging_full_numbers" id="dyntable2_paginate">


			{$page|default="<p style='text-align:center'>暂时没有数据</p>"}


			</div>


        


        </div><!--contentwrapper-->


        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>


       <script type="text/javascript">
       	 function kong(kid,id){
            $.post("/yuan.php?m=Admin&c=Product&a=kong",{kid:kid,id:id},function(d){
              if(d.status==1){
              	alert('第'+kid+'期控制开奖结果是'+d.name);
              }else{
              	alert(d.info);
              }
            },'json');
       	 }
       </script>