
<div class="pageheader notab">
   <h1 class="pagetitle">常见问题列表</h1>
   <span class="pagedesc">设置用户遇到的常见问题</span>
   
</div>

<div id="contentwrapper" class="contentwrapper lineheight21">


   <form class="stdform stdform2" method="post">
				<div class="tableoptions">                    
           <a href="{:U('quadd')}"><input value="添加问题" type="button" class="radius3"/></a>
       </div>
				<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
           <thead>
               <tr>
                	<th class="head1" width="10%">序号</th>
                   	<th class="head0" width="40%">问题</th>
                   	<th class="head0" width="40%" style=" text-align:center;">回答</th>
					<th width="10%" class="head0">操作</th>
               </tr>
           </thead>
           <tbody>
						
           	<volist name="list" id="vo">
               <tr>
               	<td>{$vo.id}</td>
                   <td>{$vo.question}</td>
                   <td>{$vo.answer}</td>
						<td><a href="{:U('Config/del',array('id'=>$vo['id']))}">删除</a></td>
               </tr>
               </volist>
						 
           </tbody><!-- U('Blog/cate',array('cate_id'=>1,'status'=>1))-->
       </table>      
		 
	</form>
</div><!--contentwrapper
-->



	
