


        <div class="pageheader notab">


            <h1 class="pagetitle">站点设置</h1>


            <span class="pagedesc">设置网站的基本信息</span>


            


        </div><!--pageheader-->


        


        <div id="contentwrapper" class="contentwrapper lineheight21">


        


        


            <form class="stdform stdform2" method="post">


				<p>


					<label>网站名称</label>


					<span class="field"><input type="text" name="name" id="name" value="{$_CFG.site.name}" class="smallinput" /></span>


				</p>


				<!-- <p>


					<label>免费获取二维码</label>


					<span class="field">


					<input type="radio" name="code_is" value='1' <?php if($_CFG['site']['code_is']==1){ echo 'checked';}?>>开启


                    <input type="radio" name="code_is"  value='0' <?php if($_CFG['site']['code_is']==0){ echo 'checked';}?>>关闭


					</span>


				</p> -->
               <!-- <p>


					<label>开奖</label>


					<span class="field">


					<input type="radio" name="kaijiang" value='1' <?php if($_CFG['site']['kaijaing']==1){ echo 'checked';}?>>随机


                    <input type="radio" name="kaijiang"  value='2' <?php if($_CFG['site']['kaijiang']==2){ echo 'checked';}?>>最少


					</span>


				</p> -->
				 <!-- <p>


					<label>提现</label>


					<span class="field">


					<input type="radio" name="tixian" value='1' <?php if($_CFG['site']['tixian']==1){ echo 'checked';}?>>开启


                    <input type="radio" name="tixian"  value='0' <?php if($_CFG['site']['tixian']==0){ echo 'checked';}?>>关闭


					</span>


				</p> -->
				
				<!-- <p>


					<label>筛子佣金比率<small>比如：8;4;3;2;2表示1级8%,2级4%,3级2%4级2%</small></label>

					<span class="field"><input type="text" name="shai_yj" id="shai_yj" value="{$_CFG.site.shai_yj}" class="smallinput" /></span>


				</p> -->
				
                <p>


					<label>网站</label>


					<span class="field">


					<input type="radio" name="is_site" value='0' <?php if($_CFG['site']['is_site']==0){ echo 'checked';}?>>关闭


                    <input type="radio" name="is_site"  value='1' <?php if($_CFG['site']['is_site']==1){ echo 'checked';}?>>开启


					</span>


				</p> 
				<p>


					<label>网站地址</label>


					<span class="field"><input type="text" name="url" id="url" value="{$_CFG.site.url}" class="smallinput" /></span>


				</p>


				<!-- <p>


					<label>关注时回复关键词<small>关注时自动回复此关键词对应的内容</small></label>


					<span class="field"><input type="text" name="subscribe" id="subscribe" value="{$_CFG.site.subscribe}" class="smallinput" /></span>


				</p> -->


				<!-- <p>


					<label>土地价格<small></small></label>


					<span class="field"><input type="text" name="land_price" id="land_price" value="{$_CFG.site.land_price}" class="smallinput" /></span>


				</p> -->


				<!-- <p>


					<label>佣金比率<small>比如：8;4;3;2;2表示1级8%,2级4%,3级2%4级2%</small></label>


					<span class="field"><input type="text" name="expense" id="expense" value="{$_CFG.site.expense}" class="smallinput" /></span>


				</p> -->


				<!-- <p>


					<label>偷菜比率<small>比如：被偷后收益减少比率(%)</small></label>


					<span class="field"><input type="text" name="tou" id="tou" value="{$_CFG.site.tou}" class="smallinput" /></span>


				</p> -->


				<!-- <p>


					<label>抽抽乐价格<small>参与抽抽乐需要支付的积分</small></label>


					<span class="field"><input type="text" name="chou" id="chou" value="{$_CFG.site.chou}" class="smallinput" /></span>


				</p> -->


				<!-- <p>


					<label>抽抽乐奖金<small>百分比（%）</small></label>


					<span class="field"><input type="text" name="chou_reward" id="chou_reward" value="{$_CFG.site.chou_reward}" class="smallinput" /></span>


				</p> -->


				<!-- <p>


					<label>抽抽乐推荐奖<small>百分比（%）</small></label>


					<span class="field"><input type="text" name="chou_expense" id="chou_expense" value="{$_CFG.site.chou_expense}" class="smallinput" /></span>


				</p> -->


				<!-- <p>


					<label>抽抽乐规则说明<small></small></label>


					<span class="field">


						<textarea name="chou_body" id="chou_body" style=" height:300px;">{$_CFG.site.chou_body}</textarea>


					</span>


				</p> -->


				


				<p class="stdformbutton">


					<button class="submit radius2">提交</button>


					<input type="reset" class="reset radius2" value="重置" />


				</p>


			</form>


		<script src="__PUBLIC__/plugins/ueditor1.4.3/ueditor.config.js"></script>


			<script src="__PUBLIC__/plugins/ueditor1.4.3/ueditor.all.min.js"></script>


			<script>


				ue = UE.getEditor('chou_body');


			</script>


        


        </div><!--contentwrapper-->


        