<header class="header">
<div class="header-top">
<div class="header-tips"><a href="">好运</a></div>
<div class="header-text">
<div class="txtScroll-top">
<div class="hd">
<ul><li class="on">1</li></ul>
</div>
<div class="bd">
<div class="tempWrap" style="overflow:hidden; position:relative; height:35px"><ul class="infoList" style="top: 0px; position: relative; padding: 0px; margin: 0px;"><li style="height: 35px;">代理请加客服微信xx1234</li></ul></div>
</div>
</div> 
</div>
</div>
<div class="header-bottom">
<span>会员ID：{$user.id}</span>
</div>
</header>