
        <div class="pageheader notab">
            <h1 class="pagetitle">充值</h1>
        </div><!--pageheader-->
        <script src="__PUBLIC__/plugins/My97DatePicker/WdatePicker.js"></script>
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
				<table class="form-table" cellspacing="1" border="0">
					<tr>
						<th class="title">用户ID</th>
						<td>
							<input type="text" name="user_id" id="user_id" value="{$_GET.id}" class="smallinput" />
						</td>
					</tr>
					
					<tr>
						<th class="title">金额</th>
						<td>
							<input type="text" name="money" id="money" value="{$user.money}" class="smallinput" />
						</td>
					</tr>
					<!--<tr>
						<th class="title">备注</th>
						<td>
							<input type="text" name="remark" id="remark" value="{$_GET.remark}" class="smallinput" />
						</td>
					</tr>-->
					
				</table>
				
				
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
        
        </div><!--contentwrapper-->
        