
        <div class="pageheader notab">
            <h1 class="pagetitle">推广奖励设置</h1>
            <span class="pagedesc"></span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
				<p>
					<label>1级推荐</label>
					<span class="field" style="color:red"><input type="text" name="parent1" id="recommend1" value="{$list.parent1}" class="smallinput" />*按%比赠送，填数字即可，例：填8，即佣金为8%。默认8即可</span>
				</p>
				<p>
					<label>2级推荐</label>
					<span class="field" style="color:red"><input type="text" name="parent2" id="recommend2" value="{$list.parent2}" class="smallinput" />*按%比赠送，填数字即可，例：填8，即佣金为8%。默认5即可</span>
				</p>
				<p>
					<label>3级推荐</label>
					<span class="field" style="color:red"><input type="text" name="parent3" id="recommend3" value="{$list.parent3}" class="smallinput" />*按%比赠送，填数字即可，例：填8，即佣金为8%。默认2即可</span>
				</p>
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
        
        
        </div><!--contentwrapper-->
        