
        <div class="pageheader notab">
            <h1 class="pagetitle">编辑自动回复内容</h1>
            <span class="pagedesc">图文回复请保存后编辑文章</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
            <form class="stdform stdform2" method="post">
				<table class="form-table" cellspacing="1" border="0">
					<tr>
						<th class="title">关键词<small>多个关键词用,分开</small></th>
						<td>
							<input type="text" name="keyword" id="keyword" value="{$info.keyword}" class="smallinput" />
						</td>
					</tr>
					<tr>
						<th class="title">回复类型</th>
						<td>
							<select name="type" id="type" default="{$info.type}" onchange="type_change()">
								<option value="1">文本回复</option>
								<option value="2">图文回复</option>
							</select>
						</td>
					</tr>
					<tr class="fortext">
						<th class="title">回复内容</th>
						<td>
							<textarea name="content" id="content" class="longinput" style="height:70px;" >{$info.content}</textarea>
						</td>
					</tr>
					<tr class="forimgtxt">
						<th class="title">回复内容</th>
						<td>
							<div class="">
								<a href="javascript:;" onclick="addArticle()" style=" padding:5px 10px; border:1px solid #ccc;">添加文章</a>
							</div>
							<div class="list" id="articleList">
								<ul style=" padding:0; margin:0; list-style:none; padding:10px 0;">
									<volist name="articles" id="vo">
									<li aid="{$vo.id}" >
										[<a href="javascript:;" onclick="delArticle(this)">删除</a>] {$vo.title}
										<input type="hidden" name="article[]" value="{$vo.id}" />
									</li>
									</volist>
								</ul>
							</div>
							
							<style>
							.articles{ background:#fff; border:1px solid #ccc; padding:5px; width:360px; display:none;}
							.single .pic{}
							.single .pic img{ width:360px; height:200px;}
							.single .date{ color:#bbb; line-height:40px;}
							.single .desc{ color:#bbb; padding:5px 0;}
							.single .more{ padding-top:10px; color:#000;}
							.single .title{ padding-bottom:5px; color:#000;}
							
							.multi .item{ position:relative; height:50px; border-bottom:1px solid #ccc;}
							.multi .item:last-child{ border-bottom:none;}
							.multi .item .desc{ display:none;}
							.multi .item .title{ padding-right:50px; padding-top:5px; line-height:20px; color:#000;}
							.multi .item .pic{ position:absolute; right:5px; top:5px;}
							.multi .item .pic img{ width:40px; height:40px;}
							.multi .item:first-child{ height:200px;}
							.multi .item:first-child .pic{ position:static; height:200px;}
							.multi .item:first-child .pic img{ width:360px; height:200px;}
							.multi .item:first-child .title{ position:absolute; left:0; bottom:0; width:350px; padding:5px; background:rgba(0,0,0,.7); color:#fff;}
							</style>
							<div class="articles single">
								<div class="item">
									<div class="title">急速扩大四季度访华司机的话粉红色对方军事的发和</div>
									<div class="date">7月12日</div>
									<div class="pic"><img src="__PUBLIC__/images/personal.jpg" /></div>
									<div class="desc">阿姐速度卡缩短就哈萨打哈时代感阿闪光灯阿嫂的</div>
									<div class="more">查看全文</div>
								</div>
							</div>
							
							<div class="articles multi">
								<div class="item">
									<div class="pic"><img src="__PUBLIC__/images/personal.jpg" /></div>
									<div class="title">急速扩大四季度访华司机的话粉红色对方军事的发和</div>
								</div>
								<div class="item">
									<div class="pic"><img src="__PUBLIC__/images/personal.jpg" /></div>
									<div class="title">急速扩大四季度访华司机的话粉红色对方军事的发和</div>
								</div>
								<div class="item">
									<div class="pic"><img src="__PUBLIC__/images/personal.jpg" /></div>
									<div class="title">急速扩大四季度访华司机的话粉红色对方军事的发和</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
				
				
				
				<p class="stdformbutton">
					<button class="submit radius2">提交</button>
					<input type="reset" class="reset radius2" value="重置" />
				</p>
			</form>
			<script src="__PUBLIC__/plugins/layer-v2.2/layer/layer.js"></script>
			<script>
			// var articles = [];
			function type_change(){
				obj = jQuery("#type");
				t = obj.val();
				if(t==2){
					jQuery("#content_row").hide();
					jQuery(".fortext").hide();
					jQuery(".forimgtxt").show();
				}else{
					jQuery("#content_row").show();
					jQuery(".fortext").show();
					jQuery(".forimgtxt").hide();
				}
			}
			
			jQuery(document).ready(function(e){
				$ = jQuery;
				// 调整默认选择内容
				jQuery("select").each(function(index, element) {
					$(element).find("option[value='"+$(this).attr('default')+"']").attr('selected','selected');
				});
				// 调整提示内容
				type_change();
			});
			
			function addArticle(){
				layer.open({
				  type: 2,
				  title: '选择文章',
				  shadeClose: true,
				  shade: 0.8,
				  area: ['800px', '500px'],
				  content: '{:U("Article/index?for=autoreply")}' //iframe的url
				});
			}
			
			function selectArticle(data){
				//articles[data.id]=(data);
				//console.log(data);
				layer.closeAll();
				
				html = '<li aid="'+data.id+'" >'
						+'[<a href="javascript:;" onclick="delArticle(this)">删除</a>] '+data.title
						+'<input type="hidden" name="article[]" value="'+data.id+'" />'
					+'</li>';
				jQuery("#articleList ul").append(html);				
			}
			
			function delArticle(obj){
				aid = jQuery(obj).parent('li').attr('aid');
				jQuery(obj).parent('li').remove();
				articles[aid] = null;
			}
			</script>
        </div><!--contentwrapper-->
        